<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="UdemyMavenPractice.AppiumTest"/>
      <class name="UdemyMavenPractice.SeleniumTest"/>
      <class name="UdemyMavenPractice.APITest"/>
    </classes>
  </test> 
</suite> 
